@model MvcPhotos.Models.Photo

@{
    ViewBag.Title = "批量新增照片";
}

@section Styles{
    <link href="~/Content/css/dropzone.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/dropzone.js"></script>
    
    <script>
        //Dropzone的初始化，myDropzone为form的id
        Dropzone.options.myDropzone = {

            //指定上传图片的路径
            url: "@Url.Action("BatchUpload", "PhotoUpload")",

            //添加上传取消和删除预览图片的链接，默认不添加
            addRemoveLinks: true,

            //关闭自动上传功能，默认会true会自动上传
            //也就是添加一张图片向服务器发送一次请求
            autoProcessQueue: false,

            //允许上传多个照片
            uploadMultiple: true,

            //每次上传的最多文件数，经测试默认为2，坑啊
            //记得修改web.config 限制上传文件大小的节
            parallelUploads: 100,

            init: function () {
                var submitButton = document.querySelector("#submit-all")
                myDropzone = this; // closure

                submitButton.addEventListener("click", function () {
                    //手动上传所有图片
                    myDropzone.processQueue();
                });

                //当添加图片后的事件，上传按钮恢复可用
                this.on("addedfile", function () {
                    $("#submit-all").removeAttr("disabled");
                });

                //当上传完成后的事件，接受的数据为JSON格式
                this.on("complete", function (data) {
                    if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                        var res = eval('(' + data.xhr.responseText + ')');
                        var msg;
                        if (res.Result) {
                            msg = "恭喜，已成功上传" + res.Count + "张照片！";
                        }
                        else {
                            msg = "上传失败，失败的原因是：" + res.Message;
                        }
                        $("#message").text(msg);
                        $("#dialog").dialog("open");
                    }
                });

                //删除图片的事件，当上传的图片为空时，使上传按钮不可用状态
                this.on("removedfile", function () {
                    if (this.getAcceptedFiles().length === 0) {
                        $("#submit-all").attr("disabled", true);
                    }
                });
            }
        };

        $(function () {
            $("#dialog").dialog({
                modal: true,
                autoOpen: false,
                width: 350,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                buttons: {
                    继续添加: function () {
                        $(this).dialog("close");
                    },
                    返回列表: function () {
                        location.href = "@Url.Action("Index")";
                    }
                }
            });

            $("#AlbumId").change(function () {
                $("#hidAlbumId").val($(this).val());
            });
        });
    </script>
}
<h2>批量新增照片</h2>

<div>
    选择相册
    @Html.DropDownList("AlbumId")
    或 
    @Html.ActionLink("创建新的相册", "Create", "AlbumManager")
</div>

<form action="/"
    class="dropzone"
    enctype="multipart/form-data"
    id="my-dropzone"
    method="post">
    @Html.Hidden("hidAlbumId")
</form>

<div>
    <button type="submit" id="submit-all" disabled="disabled">上传</button>
    @Html.ActionLink("返回列表", "Index")
</div>

<div id="dialog" title="提示">
    <p id="message">
    </p>
</div>
