@model MvcPhotos.Models.Album

@{
    ViewBag.Title = "新增相册";
}

<h2>新增相册</h2>

@using (Html.BeginForm(
    "Create",
    "AlbumManager",
    FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <fieldset>
        <legend>Album</legend>
        <div id="upload-choices">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.CoverPath)
            </div>
            <div class="editor-field">
                @Html.File("File")
                @Html.ValidationMessage("File")
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Description, new { rows = "10", cols = "20" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            <div class="clear">
                <button type="submit">保存</button>
                @Html.ActionLink("返回", "Index")
            </div>
        </div>

        @Html.Partial("_PhotoUploadPartial")

    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/PhotoUpload.js"></script>
}
