@model MvcPhotos.Models.Album

@{
    ViewBag.Title = "相册详细";
}

<h2>相册详细</h2>

<fieldset>
    <legend>相册</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.CoverPath)
    </div>
    <div class="display-field">
        @Html.Image(
        "uploadImage",
        Url.Content("~/Content/photos/" + Model.CoverPath),
        Model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.AlbumId }) |
    @Html.ActionLink("返回", "Index")
</p>
